{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organisasi | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleX.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Oxygen:wght@300&family=Quicksand:wght@400&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    
  </head>
  <body>
    {% comment %} <div class="heading">
      <div class="logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/U-ORG-logos.jpeg' %}"></img>
        </a>
      </div>
      <div class="head-item row">
        <a href="{% url 'organisasi' %}"><p>Organisasi</p></a>
        <a href="{% url 'rekomendasi' %}"><p>Rekomendasi</p></a>
        <a href=""><p>Jadwal</p></a>
      </div>
      <div class="search">
        <form action="{% url 'organisasi' %}?q={{q}}" method="get">
          <input type="text" name="q" id="search" placeholder="Search" />
        </form>
      </div>
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">{{request.user.username}}</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="{% url 'profile' request.user %}">Profile</a>
          <a href="{% url 'logout' %}">Logout</a>
          <a href="#">My Org</a>
        </div>
      </div>
      {% else %}
      <a href="{% url 'login' %}" class="account-corner">
        <p>Login</p>
      </a>
      {% endif %}
    </div> {% endcomment %}
    
    {% comment %} Navbar {% endcomment %}
    {% include 'nav.html' %}
    
    <main>
      <div class="container">

        {% block content %}
        
        {% endblock content %}


      </div>
      
    </main>
    <footer id="footer-3-cols" class="site-footer">
      <div id="footer-container">
          <div id="footer-grid">
              <div id="left-footer-section" class="footer-section">
  
                      <div id="footer-search">
                          <form action="{% url 'organisasi' %}?q={{q}}" method="get">
                              <input type="search" name="q" placeholder="Cari Organisasi"><button type="submit">Search</button>
                          </form>
                      </div>
                  <div class="footer-information">
                      <div class="footer-information">
                      <p><i class="fa-solid fa-location-dot" style="color: red;"></i> Pekanbaru, Riau, Indonesia</p>
                      <p><i class="fa-solid fa-phone" style="color: #5cbf2a;"></i> +62 12XXXXXX</p>
                      <p><i class="fa-solid fa-envelope" style="color: orange;"></i> haikel.oxama@gmail.com</p>
                      <p><i class="fa-solid fa-building" style="color: black;"></i> UIN Suska Riau, Faculty Science and Technology</p>
                  </div>
                  </div>
              </div>
              <div id="second-footer-section" class="footer-section">
                  <div class="footer-links">
                      <h3>Menu Utama</h3>
                      <ul>
                          <li role="menuitem"><a href="{% url 'home' %}">Home</a></li>
                          <li role="menuitem"><a href="{% url 'organisasi' %}">Organisasi</a></li>
                          <li role="menuitem"><a href="{% url 'rekomendasi' %}">Rekomendasi</a></li>
                          <li role="menuitem"><a href="{% url 'eventList' %}">Event</a></li>
                          <li role="menuitem"><a href="#">Informasi</a></li>
                          
                  </div>
              </div>
              <div id="right-footer-section" class="footer-section">
                  <div class="footer-links">
                      <h3>Account</h3>
                      <ul>
                        {% if request.user.is_authenticated %}
                        <li role="menuitem"><a href="{% url 'profile' request.user %}">Profile</a></li>
                        <li role="menuitem"><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li role="menuitem"><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                      </ul>

                  </div>
              </div>
          </div>
          <div id="copyright-information">
              <div id="footer-logo-section">
                  <div id="footer-logo">
                      <img src="{% static 'images/logos.png' %}" alt="">
                  </div></div>
              <div id="copyright-text">
              &copy;RPL Kelompok 4. 2022. All rights reserved. 
              </div>
              <div id="social-buttons">
                <a href=""><i class="fa-brands fa-instagram fa-2x"></a></i><a href="https://github.com/HaikelOksama" target="blank"><i class="fa-brands fa-github"></i></a>
              </div>
          </div>
      </div>
  </footer>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
