{% extends 'base.html' %}

{% block title %}Delete{% endblock title %}

{% block content %}

<div class = "new-event-container">
    <form action="" method="POST">
    <h2>Anda yakin ingin menghapus {{obj.title}}</h2>
        {% csrf_token %}
        <div class="event-form-wrapper">
        <input style="background-color : red;" type="submit" value="Confirm">
        <br>
        <a href="{{request.META.HTTP_REFERER}}"><button class="button-43" role="button">Batal</button></a>
        </div>        
    </form>
</div>

{% endblock content %}