{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class = "new-event-container">
    <h2>Edit Profil</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="event-form-wrapper">
            <div class="event-form">
                <label for="{{forms.bio.label}}">Bio : </label>
                {{forms.bio}}
            </div>
            <div class="event-form">
                <label for="{{forms.fakultas.label}}">Fakultas : </label>
                {{forms.fakultas}}
            </div>  
            <br>
            <div class="event-form">
                <div class="interest">
                <label for="{{forms.interest.label}}">Pilih {{forms.interest.label}} anda</label>
                {{forms.interest}}
                </div>
            </div>
            <br>
            <div class="event-form">
                {% if forms.avatar.field.widget.input_type == 'file' %}
                    <label for="{{forms.avatar.label}}">Avatar : </label>
                    <input type="file" name="{{ forms.avatar.name }}" onchange="readURL(this);"/>
                    <img id="blah" {% if profile.avatar %} src="{{ profile.avatar.url }}"{% else %}src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW6wRWOjhYe9HP1hvqWiY_x4tDvhbtNcvKUw&usqp=CAU"{% endif %} alt="your image" style="width: 12em; height: 12em;" />
                {% endif %} 
                {% comment %} <label for="{{forms.avatar.label}}">Avatar : </label>
                {{forms.avatar}} {% endcomment %}
            </div>   
            <br>
            {% comment %} {% for field in forms %}
            <div class="event-form">
                {{ field|as_crispy_field:"bootstrap5" }}
            </div> 
            <br>
            {% endfor %} {% endcomment %}

            {% comment %} <div class="event-form">
                <label for="{{forms.username.label}}">Username</label>
                {{forms.username}}
            </div>
            <div class="event-form">
                <label for="{{forms.email.label}}">Email</label>
                {{forms.email}}
            </div> {% endcomment %}
        <input type="submit" value="Submit">

        </div>        
    </form>
</div>



{% endblock content %}